<footer class="site-footer">
	
	<div class="social-media-wrapper" >

		<a class="fa fa-twitter" target="_blank" href="https://twitter.com/umrover"></a>
		<a class="fa fa-instagram" target="_blank" href="https://www.instagram.com/umrover/" style="margin-right: 3px" ></a>
		<a class="fa fa-youtube-play" target="_blank" href="https://www.youtube.com/watch?v=qf73hYbMD3A"></a>
		
	</div>

	<div class="wrapper">
		<h2 class="footer-heading">Our Sponsors</h2>
		<!-- tspo used because adblock blocks the word sponsor -->
		<div class="tspos">
			{% assign sponsors = (site.sponsors | sort: 'level' | reverse) %}
			{% for sponsor in sponsors %}
				<div class="tspo-container"> 
					<a href="{{sponsor.rurl}}" target="_blank"><img src="{{base}}{{sponsor.image_path}}" alt="{{sponsor.name}} logo" class="tspo-logo" /></a>
				</div>
			{% endfor %}
		</div>
	</div>
</footer>