/*********************
COLORS
*********************/
.hero {
  background-color: #323944;
  height: 400px; }
  .hero .hero-content {
    width: 90%;
    max-width: 400px;
    color: white;
    padding: 80px 0; }
  @media (max-width: 700px) {
    .hero {
      height: 300px; } }
  @media (min-width: 1400px) {
    .hero {
      height: 500px; } }
  @media (min-width: 1800px) {
    .hero {
      height: 600px; } }

.section-divider {
  width: 100%;
  background-color: #5c6b80;
  text-align: center; }
  .section-divider h3 {
    font-size: 32px;
    padding: 10px 0;
    text-transform: uppercase;
    color: white;
    margin: 0; }

.wrap {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Lato", Helvetica, Arial, sans-serif;
  color: #5c6b80;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #5c6b80;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper, .social-media-wrapper {
  max-width: -webkit-calc(1200px - (30px * 2));
  max-width: calc(1200px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper, .social-media-wrapper {
      max-width: -webkit-calc(1200px - (30px));
      max-width: calc(1200px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.social-media-wrapper {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px; }
  .social-media-wrapper a {
    text-decoration: none;
    color: inherit; }

/**
 * Clearfix
 */
.wrapper:after, .social-media-wrapper:after, .home .join-donate-cta .wrap:after, .footer-col-wrapper:after, .rovers-page .join-donate-cta .wrap:after {
  content: "";
  display: table;
  clear: both; }

.button-hollow {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer; }
  .button-hollow:hover, .button-hollow:focus {
    color: white;
    text-decoration: none;
    outline: none; }
  .button-hollow:active {
    top: 1px; }

.button-hollow {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 18px;
  text-transform: uppercase; }
  .button-hollow:hover, .button-hollow:focus {
    background-color: black; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Font-awesome icons
 */
.fa {
  color: inherit;
  text-decoration: none; }

.fa-instagram {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  padding: 2px 5px 2px 5px; }
  .fa-instagram:hover {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    color: white; }

.fa-twitter:hover {
  color: #00aced; }

.fa-youtube-play:hover {
  color: #bb0000; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  padding: 20px;
  position: relative; }
  .site-header .trigger a {
    border-bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #323944;
    margin-right: 20px; }
    .site-header .trigger a:hover, .site-header .trigger a:focus {
      color: #F8C726;
      text-decoration: none; }
  .site-header .site-logo > svg {
    display: inline-block;
    width: 250px;
    height: 63px;
    vertical-align: middle; }

/******************************************************************
Author: Connor Krupp

Stylesheet: Home Page
******************************************************************/
.home .hero {
  background-image: url("images/home-bg.JPG");
  background-position: 20% 58%;
  /*
  background-image: url("images/team.jpg");
  background-position: 20%;
  */
  background-repeat: no-repeat;
  background-size: cover; }
.home .row-container {
  padding: 10px 0px; }
  .home .row-container.two {
    background-color: #ecf0f1; }
    .home .row-container.two .text-content {
      padding-right: 0;
      padding-left: 60px; }
  .home .row-container.three {
    background-color: white; }
  @media (max-width: 768px) {
    .home .row-container.one .row-content, .home .row-container.two .row-content, .home .row-container.three .row-content {
      display: table-footer-group; }
    .home .row-container.one .text-content, .home .row-container.two .text-content, .home .row-container.three .text-content {
      display: table-header-group;
      margin: 0px 10px; } }
  .home .row-container .wrap {
    display: table;
    max-width: 800px;
    width: 90%;
    margin: 0 auto; }
  .home .row-container .row-content {
    display: table-cell;
    vertical-align: middle; }
    @media (max-width: 768px) {
      .home .row-container .row-content {
        display: block;
        margin: 0 auto;
        width: 75%; } }
  .home .row-container .text-content {
    padding: 40px 0;
    padding-right: 60px; }
    .home .row-container .text-content h4 {
      font-size: 24px;
      margin: 0; }
    @media (max-width: 768px) {
      .home .row-container .text-content {
        padding-right: 0;
        padding-left: 0 !important; } }
  .home .row-container .block {
    width: 320px;
    height: 200px;
    background-color: #2c3e50;
    background-size: cover; }
    .home .row-container .block.one {
      background-image: url("images/team.jpg"); }
    .home .row-container .block.two {
      background-image: url("images/whatwedo.jpg"); }
    .home .row-container .block.three {
      background-image: url("images/campus.jpg"); }
    @media (max-width: 768px) {
      .home .row-container .block {
        display: block;
        margin: 30px auto;
        float: none;
        width: 300px;
        height: 187px; } }
.home .join-donate-cta {
  background-color: #ecf0f1; }
  .home .join-donate-cta .cta {
    width: 50%;
    text-align: center;
    padding: 40px 0;
    float: left; }
    .home .join-donate-cta .cta h6 {
      font-size: 24px;
      margin: 0; }
    .home .join-donate-cta .cta p {
      width: 80%;
      margin: 10px auto 20px auto;
      max-width: 400px; }
    @media (max-width: 768px) {
      .home .join-donate-cta .cta {
        width: 92%;
        float: none;
        margin: 0 auto; } }
.home .join-donate-cta .wrap {
  max-width: 900px;
  margin: 0 auto;
  clear: both; }

/******************************************************************
Author: Connor Krupp

Stylesheet: Contact Page Stylesheet
******************************************************************/
.contact-page .hero {
  background-image: url("images/contact-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }
.contact-page .contact-info {
  text-align: center;
  padding-bottom: 30px; }
  .contact-page .contact-info h4 {
    font-size: 24px; }
  .contact-page .contact-info h6 {
    font-size: 18px;
    margin: 0;
    margin-top: 24px; }
  .contact-page .contact-info p {
    margin: 0; }
  .contact-page .contact-info a {
    font-size: 16px;
    text-decoration: none; }

/******************************************************************
Author: Connor Krupp

Stylesheet: Front Page Stylesheet
******************************************************************/
.about-page .hero {
  background-image: url("images/station-cropped.jpg");
  background-repeat: no-repeat;
  background-position: center 45%;
  background-size: cover; }
.about-page .row-container {
  padding: 10px; }
  @media (max-width: 720px) {
    .about-page .row-container.one .text-content {
      display: table-footer-group; }
    .about-page .row-container.one .block {
      margin: 30px auto; } }
  .about-page .row-container.two {
    background-color: #ecf0f1; }
    .about-page .row-container.two .text-content {
      padding-right: 0;
      padding-left: 60px; }
  .about-page .row-container.three {
    background-color: #bdc3c7; }
  .about-page .row-container .wrap {
    display: table;
    max-width: 800px; }
  .about-page .row-container .row-content {
    display: table-cell;
    vertical-align: middle;
    text-align: left; }
  .about-page .row-container .text-content {
    padding: 40px 0;
    padding-right: 60px; }
  .about-page .row-container .block {
    width: 320px;
    height: 200px;
    background-color: #2c3e50; }
  .about-page .row-container .info-section, .about-page .row-container .subrow {
    width: 50%;
    text-align: center;
    float: left;
    padding: 30px 0; }
    .about-page .row-container .info-section h4, .about-page .row-container .subrow h4 {
      font-size: 1.1em;
      font-weight: 700; }
    .about-page .row-container .info-section .info-content, .about-page .row-container .subrow .info-content {
      padding: 10px 30px; }
    .about-page .row-container .info-section .info-block, .about-page .row-container .subrow .info-block {
      margin: 0 auto;
      width: 160px;
      height: 120px;
      background-color: #2c3e50;
      background-image: url("images/160x120.png");
      background-size: cover; }
    @media (max-width: 620px) {
      .about-page .row-container .info-section, .about-page .row-container .subrow {
        width: 100%; } }
  .about-page .row-container .subrow {
    text-align: center;
    float: left;
    width: 50%;
    padding: 0px;
    margin: 0px; }
  .about-page .row-container .one-of-two-subrows {
    width: 50%; }
    @media (max-width: 1280px) {
      .about-page .row-container .one-of-two-subrows {
        width: 100%; } }
  .about-page .row-container .one-of-one-subrow {
    width: 100%; }
.about-page .info-row-container .wrap {
  max-width: 1300px; }
.about-page .row-electrical {
  width: 50%; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #5c6b80;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 780px) {
    .site-nav {
      position: absolute;
      top: 34px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-right: 0;
        margin-left: 20px; } }

/**
 * Site footer
 */
.site-footer {
  padding: 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

.tspos {
  line-height: 150px;
  text-align: center; }

.tspos .tspo-logo {
  max-width: 400px;
  max-height: 130px;
  padding: 10px 30px;
  vertical-align: middle; }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 780px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

/******************************************************************
Author: Michael Wolf
Modified verison of Contact page

Stylesheet: Join Page Stylesheet
******************************************************************/
.join-page {
  text-align: center;
  padding-bottom: 30px; }
  .join-page .hero {
    background-image: url("images/join-bg.JPG");
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: cover; }
  .join-page h4 {
    font-size: 24px; }
  .join-page h6 {
    font-size: 18px;
    margin: 0;
    margin-top: 24px; }
  .join-page p {
    margin: 0; }
  .join-page a {
    font-size: 16px;
    text-decoration: none; }

/******************************************************************
Author: Michael Wolf
Modified version of Home Page stylesheet

Stylesheet: Home Page
******************************************************************/
.rovers-page .hero {
  background-image: url("images/rovers-bg.JPG");
  background-position: 20% 58%;
  background-repeat: no-repeat;
  background-size: cover; }
.rovers-page .row-container.two, .rovers-page .row-container.four {
  background-color: #ecf0f1; }
  .rovers-page .row-container.two .text-content, .rovers-page .row-container.four .text-content {
    padding-right: 0;
    padding-left: 60px; }
.rovers-page .row-container.three {
  background-color: white; }
@media (max-width: 768px) {
  .rovers-page .row-container.one .row-content, .rovers-page .row-container.two .row-content, .rovers-page .row-container.three .row-content, .rovers-page .row-container.four .row-content {
    display: table-header-group; }
  .rovers-page .row-container.one .text-content, .rovers-page .row-container.two .text-content, .rovers-page .row-container.three .text-content, .rovers-page .row-container.four .text-content {
    display: table-footer-group;
    margin: 0 10px; } }
.rovers-page .row-container .wrap {
  display: table;
  max-width: 800px;
  width: 90%;
  margin: 0 auto; }
.rovers-page .row-container .row-content {
  display: table-cell;
  vertical-align: middle; }
  @media (max-width: 768px) {
    .rovers-page .row-container .row-content {
      display: block;
      margin: 0 auto;
      width: 75%; } }
.rovers-page .row-container .text-content {
  padding: 50px 0;
  padding-right: 60px; }
  .rovers-page .row-container .text-content h4 {
    font-size: 24px;
    margin: 0; }
  @media (max-width: 768px) {
    .rovers-page .row-container .text-content {
      padding-right: 0;
      padding-left: 0 !important; } }
.rovers-page .row-container .block {
  width: 320px;
  height: 200px;
  background-color: #2c3e50;
  background-size: cover; }
  .rovers-page .row-container .block.two {
    background-image: url("images/rovers/2017.JPG"); }
  .rovers-page .row-container .block.three {
    background-image: url("images/rovers/2016.jpg"); }
  .rovers-page .row-container .block.four {
    background-image: url("images/team-old-downscaled.jpg");
    background-size: cover; }
  @media (max-width: 768px) {
    .rovers-page .row-container .block {
      display: block;
      margin: 30px auto;
      float: none;
      width: 300px;
      height: 187px; } }
.rovers-page .join-donate-cta {
  background-color: #ecf0f1; }
  .rovers-page .join-donate-cta .cta {
    width: 50%;
    text-align: center;
    padding: 40px 0;
    float: left; }
    .rovers-page .join-donate-cta .cta h6 {
      font-size: 24px;
      margin: 0; }
    .rovers-page .join-donate-cta .cta p {
      width: 80%;
      margin: 10px auto 20px auto;
      max-width: 400px; }
    @media (max-width: 768px) {
      .rovers-page .join-donate-cta .cta {
        width: 92%;
        float: none;
        margin: 0 auto; } }
.rovers-page .join-donate-cta .wrap {
  max-width: 900px;
  margin: 0 auto;
  clear: both; }
