/******************************************************************
Author: Michael Wolf
Modified verison of Contact page

Stylesheet: Join Page Stylesheet
******************************************************************/

.join-page {
  .hero {
    background-image: url("images/join-bg.jpg");
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: cover;
  }
  
  text-align: center;
  padding-bottom: 30px;

  h4 {
    font-size: 24px;
  }
  h6 {
    font-size: 18px;
    margin: 0;
    margin-top: 24px;
  }
  p {
    margin: 0;
  }
  a {
    font-size: 16px;
    text-decoration: none;
  
  }
}
